$first-accent-color: rgba(55, 128, 107, 1);
$second-accent-color: #df6951;
$first-text-color: rgba(100, 100, 100, 1);
$second-text-color: #212121;
$third-text-color: #646464;
//
$fourth-text-color: #f5f4fa;
$fifth-text-color: #686d77;
$sixth-text-color: #14183e;
$seventh-text-color: #1e1d4c;
$eighth-text-color: #080809;
$ninth-text-color: #84829a;
$white-color: rgba(255, 255, 255, 1);

$first-background-color: #caa892;
//
$second-background-color: #f5f5f5;
$third-background-color: #39425d;

$first-border-color: #b0855b;
