.footer-section {
  @extend .section;
  position: relative;
  background-color: $second-background-color;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 53px;
    border-top: 2px solid $fourth-text-color;
  }
}

.footer-container {
  @extend .container;
  padding-top: 93px;
}

.footer-main-block {
  display: flex;
}

.footer-logo-block {
  width: 25%;
}
.footer-social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 192px;
}
.footer-logo-block__logo {
  @extend .logo;
}
.footer-logo-block__description {
  @extend .section-description;
  margin-top: 15px;
}

.footer-menu-list {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  gap: 20px;
  width: 50%;
}
.footer-menu-title,
.footer-social-links__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.67;
  color: $second-text-color;
  margin-bottom: 20px;
}

.footer-social-links__title {
  margin-bottom: 10px;
}

.footer-menu-item {
  @extend .section-description;
  margin-top: 15px;
}

.footer-social-link {
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: $fourth-background-color;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.5s;
  &:hover {
    background-color: $first-accent-color;
  }
}

.facebook {
  @extend .footer-social-link;
  background-image: url('../../images/facebook.svg');
}
.twitter {
  @extend .footer-social-link;
  background-image: url('../../images/twitter.svg');
}
.instagram {
  @extend .footer-social-link;
  background-image: url('../../images/instagram.svg');
}
.linkedIn {
  @extend .footer-social-link;
  background-image: url('../../images/linked.svg');
}

.footer-copyright-message {
  @extend .section-description;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: 69px;
  text-align: center;
  line-height: 1;
}
