.header-section {
  @extend .section;
  position: relative;
}

.header-container {
  @extend .container;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 102px;
  padding-bottom: 92px;
}

.header-logo {
  min-width: 150.76px;
  height: 46.04px;
  background-repeat: no-repeat;
  background-image: url('../images/logo.png');
  background-size: contain;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  width: 650px;
}
.header-nav__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;
  border: 5px solid transparent;
  border-radius: 20px;
  padding: 5px;
  color: $first-text-color;
  transition: transform 0.5s, color 0.5s, border 0.5s, font-weight 0.5s;

  &:hover {
    border: 5px solid $first-accent-color;
    border-radius: 20px;
    color: $first-accent-color;
    font-weight: 700;
    cursor: pointer;
  }
}

.header-auth {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  width: 97px;
  margin-left: 64px;
  background-color: $first-background-color;
  color: $white-color;
  border-radius: 15px 0px;
  text-align: center;
}
