.services-section {
  @extend .section;
}

.services-container {
  position: relative;
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 144px;
}

.services__title {
  @extend .section-title;
}

.services__message {
  @extend .section-message;
  margin-top: 13px;
}

.services__filter-list {
  display: flex;
  gap: 77px;
  margin-top: 30px;
}

.services__filter-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.25;
  border: 5px solid $first-accent-color;
  min-width: 206px;
  color: $white-color;
  background-color: $first-accent-color;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  &.activ {
    color: $first-accent-color;
    background-color: transparent;
  }
  border-radius: 20px;
}

.services__content {
  padding-top: 110px;
}
.services__content-list {
  display: flex;
  min-height: 417px;

  justify-content: center;
  gap: 95px;
  flex-wrap: wrap;
}

.base_style_for_content_item {
  position: absolute;
  content: '';
  width: 43px;
  height: 33px;
  top: 33px;
  left: 40px;
}
.services__content-item {
  position: relative;
  width: 477px;
  padding: 25px 25px 25px 102px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  max-height: 161px;

  &.group_1::before {
    @extend .base_style_for_content_item;
    background-image: url('../../images/sr.svg');
  }

  &.group_2 {
    color: $white-color;
    background-color: $first-background-color;
    &::before {
      @extend .base_style_for_content_item;
      background-image: url('../../images/ere.svg');
    }
  }
  &.group_3::before {
    @extend .base_style_for_content_item;
    background-image: url('../../images/sd.svg');
  }
  &.group_2 > .services__content-title {
    color: $white-color;
  }
  &.group_2 > .services__content-description {
    color: $white-color;
  }
}
.services__content-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 2;
  color: $second-text-color;
}
.services__content-description {
  @extend .section-description;
}
