.user-animation-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  // color: #000;
  // color: red;
  font-size: 30px;
  font-weight: bold;
  animation: appear 5s forwards;
}

@keyframes appear {
  0% {
    transform: scale(0);
    color: white;
  }
  20% {
    transform: scale(1.5);
    color: #ff6b6b;
  }
  100% {
    transform: scale(2);
    color: $first-accent-color;
  }
}
