.user-animation-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-width: 320px;
    // height: 100%;
    margin: 0 auto;
    & > div {
      display: flex;
      margin-bottom: 30px;
    }
  }
}

.letter {
  display: block;
  font-size: 24px;
  margin-left: 15px;
  font-weight: bold;
  animation: appear 2s forwards;
}

@keyframes appear {
  0% {
    transform: scale(0);
    color: white;
  }
  50% {
    transform: scale(3);
    color: $second-accent-color;
  }
  100% {
    transform: scale(2);
    color: $first-accent-color;
  }
}
